<%- include("../home/include/_header") %>
<head>
  <link rel="stylesheet" href="/css/contacts/style.css" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
</head>
<!-- Main -->
<main id="site-main">
  <h2>Student Records</h2>

  <div class="search-box">
    <form action="/contacts/search" method="GET">
      <input
        type="text"
        name="query"
        value="<%= typeof query !== 'undefined' ? query : '' %>"
        placeholder="Search by student name"
        required
      />
      <button type="submit" class="btn btn-primary">
        <i class="fas fa-search"></i> Search
      </button>
      <!-- <input type="submit" value="Search"> -->
    </form>
  </div>

  <div class="filter-box">
    <form method="GET" action="/contacts">
      <label for="statusFilter">Filter by Status:</label>
      <select name="status" id="statusFilter" onchange="this.form.submit()">
        <option value="" <%= status === "" ? "selected" : "" %>>All</option>
        <option value="enrolled" <%= status === "enrolled" ? "selected" : "" %>>Enrolled</option>
        <option value="trial" <%= status === "trial" ? "selected" : "" %>>Trial</option>
        <option value="hold" <%= status === "hold" ? "selected" : "" %>>Hold</option>
      </select>
    </form>
    
  </div>  

  <div class="button-box">
    <a href="/contacts/add" class="btn btn-light"
      ><i class="fa-solid fa-user-plus"></i>Add Student</a
    >
  </div>
  <table class="table">
    <thead>
      <tr>
        <!-- <th>ID</th> -->
        <th>Status</th>
        <th>Name</th>
        <th>School</th>
        <th>Year</th>
        <th>Email</th>
        <th>Parent Name</th>
        <th>Contact No.</th>
        <th>NDIS</th>
        <th>Class Day</th>
        <th>Class Time</th>
        <th>Memo</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% contacts.forEach( contact => { %>
      <tr>
        <!-- <td><%= contact.student_id %></td> -->
        <td><%= contact.status %></td>
        <td><%= contact.student_name %></td>
        <td><%= contact.school_name %></td>
        <td><%= contact.school_year %></td>
        <td><%= contact.email %></td>
        <td><%= contact.parent_name %></td>
        <td><%= contact.contact_number %></td>
        <td><%= contact.ndis %></td>
        <td><%= contact.class_day %></td>
        <td><%= contact.start_time %> ~ <%= contact.end_time %></td>
        <td><%= contact.memo %></td>

        <td>
          <a
            href="/contacts/<%= contact.student_id %>"
            class="btn update"
            title="Edit"
          >
            <i class="fas fa-pencil-alt"></i>
          </a>
          <form
            action="/contacts/<%= contact.student_id %>?_method=DELETE"
            method="POST"
            style="display: inline"
            onsubmit="return confirmDelete()"
          >
            <input type="submit" class="btn delete" title="Delete" value="X" />
          </form>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>

  <script src="js/contacts/contacts.js" defer></script>
</main>
<!-- /Main -->

<%- include("../home/include/_footer") %>
