<%- include("../home/include/_header") %>

<head>
  <link rel="stylesheet" href="/css/contacts/style.css" />
</head>

<main>
  <h2>Student Progress - <%= student.student_name %></h2>

  <!-- Progress 입력 폼 -->
  <div>
    <form action="/contacts/progress/<%= student.student_id %>" method="POST">
      <label>Date:</label>
      <input type="date" name="date" required />

      <label>Day:</label>
      <input type="text" name="day" required />

      <label>Time:</label>
      <input type="time" name="startTime" required />
      <span>~</span>
      <input type="time" name="endTime" required />

      <label>Robot:</label>
      <textarea name="robot" required></textarea>

      <div>
        <label>Status:</label>
        <select name="status" id="status" required>
          <option value="complete">Complete</option>
          <option value="incomplete">Incomplete</option>
        </select>
      </div>

      <label>Coding:</label>
      <textarea name="coding" required></textarea>

      <button type="submit">Save</button>
    </form>
  </div>
  <!-- Progress 상태 목록 -->
  <h3>Progress Status</h3>
  <div>
    <table border="1">
      <thead>
        <tr>
          <th>Date</th>
          <th>Day</th>
          <th>Time</th>
          <th>Robot</th>
          <th>Status</th>
          <th>Coding</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% progress.forEach( p => { %>
        <tr>
          <td><%= p.date %></td>
          <td><%= p.day %></td>
          <td><%= p.start_time %> ~ <%= p.end_time %></td>
          <td><%= p.robot %></td>
          <td><%= p.status %></td>
          <td><%= p.coding %></td>
          <td>
            <form
              action="/contacts/progress/<%= p.id %>?_method=DELETE"
              method="POST"
              style="display: inline"
              onsubmit="return confirmProgressDelete()"
            >
              <input
                type="submit"
                class="btn delete"
                title="Delete"
                value="X"
              />
            </form>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>

  <script src="/js/contacts/contacts.js" defer></script>
</main>

<%- include("../home/include/_footer") %>
