<%- include("./include/_header") %>

<!-- Main -->
<main id="site-main">
  <div class="button-box">
    <a href="/contacts" class="btn btn-light"
      ><i class="fa-solid fa-list"></i>Student Lists</a
    >
  </div>
  <h2>Edit Student Record</h2>
  <form
    action="/contacts/<%= contact.id %>?_method=PUT"
    method="POST"
    id="add-user"
  >
    <div class="user-info">
      <div class="col-12">
        <label for="name" class="col-form-label">Full Name</label>
        <div>
          <input
            type="text"
            class="form-control"
            name="name"
            id="name"
            value="<%= contact.name %>"
          />
        </div>
      </div>
      <div class="col-12">
        <label for="email" class="col-form-label">E-mail</label>
        <div>
          <input
            type="text"
            class="form-control"
            name="email"
            id="email"
            value="<%= contact.email %>"
          />
        </div>
      </div>
      <div class="col-12">
        <label for="mobile" class="col-form-label">Mobile</label>
        <div>
          <input
            type="text"
            class="form-control"
            name="mobile"
            id="mobile"
            value="<%= contact.mobile %>"
          />
        </div>
      </div>
      <button type="submit">Save</button>
    </div>
  </form>
</main>

<!-- /Main -->

<%- include("./include/_footer") %>
