<%- include("../home/include/_header") %>
<head>
  <link rel="stylesheet" href="/css/contacts/style.css" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
</head>
<!-- Main -->
<main id="site-main">
  <div class="button-box">
    <a href="/contacts" class="btn btn-light"
      ><i class="fa-solid fa-list"></i>Student Lists</a
    >
  </div>
  <h2>Edit Student Record</h2>
  <form
    action="/contacts/<%= contact.student_id %>?_method=PUT"
    method="POST"
    id="add-user"
  >
    <!-- <div class="user-info">
      <div class="col-12">
        <label for="student_id" class="col-form-label">Student ID</label>
        <div>
          <input
            type="int"
            class="form-control"
            name="student_id"
            id="student_id"
            value="<%= contact.student_id %>"
          />
        </div>
      </div> -->
      <div class="col-12">
        <label for="student_name" class="col-form-label">Name</label>
        <div>
          <input
            type="varchar(45)"
            class="form-control"
            name="student_name"
            id="student_name"
            value="<%= contact.student_name %>"
          />
        </div>
      </div>
      <div class="col-12">
        <label for="school_name" class="col-form-label">School</label>
        <div>
          <input
            type="varchar(45)"
            class="form-control"
            name="school_name"
            id="school_name"
            value="<%= contact.school_name %>"
          />
        </div>
      </div>

      <div class="col-12">
        <label for="school_year" class="col-form-label">Year</label>
        <div>
          <input
            type="int"
            class="form-control"
            name="school_year"
            id="school_year"
            value="<%= contact.school_year %>"
          />
        </div>
      </div>

      <div class="col-12">
        <label for="email" class="col-form-label">Email</label>
        <div>
          <input
            type="varchar(45)"
            class="form-control"
            name="email"
            id="email"
            value="<%= contact.email %>"
          />
        </div>
      </div>

      <div class="col-12">
        <label for="parent_name" class="col-form-label">Parent Name</label>
        <div>
          <input
            type="varchar(45)"
            class="form-control"
            name="parent_name"
            id="parent_name"
            value="<%= contact.parent_name %>"
          />
        </div>

        <div class="col-12">
          <label for="contact_number" class="col-form-label">Contact Number</label>
          <div>
            <input
              type="varchar(45)"
              class="form-control"
              name="contact_number"
              id="contact_number"
              value="<%= contact.contact_number %>"
            />
          </div>

          <div class="col-12">
            <label for="trial_date_time" class="col-form-label">Trial</label>
            <div>
              <input
                type="datetime"
                class="form-control"
                name="trial_date_time"
                id="trial_date_time"
                value="<%= contact.trial_date_time %>"
              />
            </div>
            
            <div class="col-12">
              <label for="ndis" class="col-form-label">NDIS</label>
              <div>
                <input
                  type="enum"
                  class="form-control"
                  name="ndis"
                  id="ndis"
                  value="<%= contact.ndis %>"
                />
              </div>
            
              <div class="col-12">
                <label for="class_day" class="col-form-label">Class Day</label>
                <div>
                  <!-- <input
                    type="enum"
                    class="form-control"
                    name="class_day"
                    id="class_day"
                    value="<%= contact.class_day %>"
                  /> -->
                  <input type="checkbox" name="class_day" value="Monday" <%= contact.class_day.includes('Monday') ? 'checked' : '' %> /> Monday
                  <input type="checkbox" name="class_day" value="Tuesday" <%= contact.class_day.includes('Tuesday') ? 'checked' : '' %> /> Tuesday
                  <input type="checkbox" name="class_day" value="Wednesday" <%= contact.class_day.includes('Wednesday') ? 'checked' : '' %> /> Wednesday
                  <input type="checkbox" name="class_day" value="Thursday" <%= contact.class_day.includes('Thursday') ? 'checked' : '' %> /> Thursday
                  <input type="checkbox" name="class_day" value="Friday" <%= contact.class_day.includes('Friday') ? 'checked' : '' %> /> Friday
                  <input type="checkbox" name="class_day" value="Saturday" <%= contact.class_day.includes('Saturday') ? 'checked' : '' %> /> Saturday
                  <input type="checkbox" name="class_day" value="Sunday" <%= contact.class_day.includes('Sunday') ? 'checked' : '' %> /> Sunday
                </div>

                <div class="col-12">
                  <label for="class_time" class="col-form-label">Class Time</label>
                  <div>
                    <input
                      type="time"
                      class="form-control"
                      name="class_time"
                      id="class_time"
                      value="<%= contact.class_time %>"
                    />
                  </div>

                  <!-- <div class="col-12">
                    <label for="memo_note" class="col-form-label">Memo</label>
                    <div>
                      <input
                        type="text"
                        class="form-control"
                        name="memo_note"
                        id="memo_note"
                        value="<%= contact.memo_note %>"
                      />
                    </div> -->
               
      <button type="submit">Save</button>
    </div>
  </form>
</main>

<!-- /Main -->

<%- include("../home/include/_footer") %>