<%- include("../home/include/_header") %>

<div class="button-box">
  <a href="/schedule" class="btn btn-light">Back</a>
</div>
<h3>Edit Schedule</h3>

<div class="schedule-input schedule-block">
  <form
    action="/schedule/<%= schedule.id %>?_method=PUT"
    method="POST"
    id="add-schedule"
  >
    <input type="hidden" name="id" value="<%= schedule.id %>" />
    <span>Category:</span>
    <input
      type="text"
      name="category"
      value="<%= schedule.category %>"
      list="categoryList"
      id="categoryInput"
    />

    <span>Date:</span>
    <div class="date-input">
      <input type="date" name="start_date" value="<%= schedule.start_date %>" />
      <span>~</span>
      <input type="date" name="end_date" value="<%= schedule.end_date %>" />
    </div>

    <span>Time:</span>
    <div class="time-input">
      <input type="time" name="start_time" value="<%= schedule.start_time %>" />
      <span>~</span>
      <input type="time" name="end_time" value="<%= schedule.end_time %>" />
      <label
        ><input type="checkbox" name="all_day" <%= schedule.all_day ? 'checked'
        : '' %> /> All-day</label
      >
    </div>

    <span>Teacher:</span>
    <div class="teacher-input">
      <label
        ><input type="checkbox" name="teacher" value="Ben" <%=
        schedule.teacher.includes('Ben') ? 'checked' : '' %> /> Ben</label
      ><br />
      <label
        ><input type="checkbox" name="teacher" value="Jayden" <%=
        schedule.teacher.includes('Jayden') ? 'checked' : '' %> /> Jayden</label
      ><br />
      <label
        ><input type="checkbox" name="teacher" value="Jenny" <%=
        schedule.teacher.includes('Jenny') ? 'checked' : '' %> /> Jenny</label
      ><br />
      <label
        ><input type="checkbox" name="teacher" value="Jin" <%=
        schedule.teacher.includes('Jin') ? 'checked' : '' %> /> Jin</label
      ><br />
      <label
        ><input type="checkbox" name="teacher" value="Jisu" <%=
        schedule.teacher.includes('Jisu') ? 'checked' : '' %> /> Jisu</label
      ><br />
    </div>

    <span>Memo:</span>
    <input type="text" name="memo" value="<%= schedule.memo %>" />

    <button type="submit">Save Changes</button>
  </form>
</div>

<%- include("../home/include/_footer") %>
